<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Проект "{{ project.title }}"</title>
</head>
<body>
    <h1>Проект "{{ project.title }}"</h1>
    <p>Описание:</p>
    <div>
        <p>{{ project.description }}</p>
    </div>
    <div>
        <p>Цель: {{ project.target_amount }} рублей</p>
        <p>Собрано: {{ project.current_amount }} рублей</p>
    </div>
    <div>
        <h2>Сделать пожертвование</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Пожертвовать</button>
        </form>
    </div>
    <a href="{% url 'index' %}">На главную страницу</a>
</body>
</html>